* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  display: block;
}
@font-face {
  font-family: "Presentation";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-1Thin.woff2")
    format("woff2");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-display: swap;
}

body {
  width: 100%;
  font-family: "Presentation";
}
h2 {
  font-size: 32px;
  font-weight: 900;
}

h3 {
  font-size: 48px;
  font-weight: 500;
}
p {
  font-size: 32px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 30;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav li {
  cursor: pointer;
}
.subTitle {
  margin-bottom: 30px;
  width: 100%;
}
.proj1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 90%;
  height: 100vh;
  margin: 0px auto;
  padding: 5%;
  box-sizing: border-box;
  cursor: none;
}
.proj1 ul {
  width: 80%;
  margin: 0px auto 10px;
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 10px;
}
.proj1 li {
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}
.proj1 li.on {
  color: #000;
}
.proj1 .main {
  width: 100%;
}
.proj1 .main > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.proj1 i {
  color: #ccc;
  font-size: 50px;
}
.proj1 i:hover {
  color: #333;
}
.proj1 .mainImage {
  width: 80%;
  margin: 0px auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.proj1 .main img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.proj1 .btnWrap {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  display: none;
  gap: 30px;
}
.proj1 button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: "Presentation";
}
.proj1 .mainImage:hover .btnWrap {
  display: flex;
}
.proj1 p {
  margin-top: 20px;
}
.cursor02 {
  position: absolute;
  width: 30px;
  z-index: 50;
  pointer-events: none;
  display: none;
}
.cursor02 img {
  width: 100%;
}

.proj2 {
  width: 90%;
  height: 100vh;
  margin: 0px auto;
  padding: 5%;
  box-sizing: border-box;
  cursor: none;
  text-align: center;
}
.proj2 ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 80%;
}
.proj2 li {
  border: 1px solid #000;
  border-radius: 10px;
  width: calc(100% / 5);
  height: 100%;
  position: relative;
  transition: 1s;
  overflow: hidden;
}
.proj2 li a {
  display: block;
  height: 100%;
}
.textWrap {
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 1px 1px 5px #333;
}
.proj2 li img {
  position: absolute;
  bottom: 100px;
  right: 30px;
}
.proj2 li:hover a {
  background-color: rgba(0, 0, 0, 0.5);
}
.proj2 li:nth-child(1) {
  background: url(img/20252025031853354840741554.jpg);
  background-size: cover;
}
.proj2 li:nth-child(2) {
  background: url(img/20252025082049725490983086.jpg);
  background-size: cover;
}
.proj2 li:nth-child(3) {
  background: url(img/0814_가구-수정.png);
  background-size: cover;
}
.proj2 li:nth-child(4) {
  background: url(img/0813_미술관시안.png);
  background-size: cover;
}
.proj2 li:nth-child(5) {
  background: url(img/메인페이지.png);
  background-size: cover;
}
